*{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    

}


body{
    

    color: white;
}

.yellow{
    color: #cda45e;
}

.title{
    font-size: 50px;
}


.first_part{
    
    width: 100vw;
    height: 100vh;
    
    background: url("../../public/images/hero-bg.jpg");

    background-repeat: no-repeat;
    background-size:cover;
    
    padding: 8rem;
    display: flex;
   
    align-items: center;
    color: black;
    z-index: 1;
    justify-content: space-between;
        
}

.v1{
    justify-content: space-between;
    display: flex;
    
    
    width: 80vw;
    height: 40vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    

    
    font-size: large;
}

.v1 form button{
    color: black;
  
    background: transparent;
    border: 2px solid #cda45e ;
    border-radius: 15px;
    font-size: large;
    padding: 0.5rem 2rem;

}

.v1 form button:hover{
    transition: 0.4s;
    background: #cda45e;
    color: aliceblue;

}

.v2{
    padding:6rem;
}


.second_part{
    height: 100vh;
    width: 100vw;
    background: url("../../public/images/about-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.second_part .right img{
    width: 35vw;
    border: 5px solid #282726;
    height: 55vh;
}
.second_part .right img:hover{
    transition: 0.4s;
  
    width: 38vw;
    
    height: 58vh;
}
.info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}



.second_part .left{
    
   height: fit-content;
   width:50vw;
}


.second_part .left ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}



.second_part .left ul li{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    gap: 1rem;    
}

.second_part .left ul li svg{
    color: #cda45e;   
}

.third_part{
    padding: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 50vh;
    width: 100vw;
    background: #0c0b09;
}


.third_part .left .card{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: #181715;
    height: 30vh;
    width: 20vw;
}

.third_part .left{
    display: flex;
    gap: 2rem;
}




.third_part .left .card:hover{
    transition: 1s;
    background: #cda45e;
    color: black;
    
}


.first_part:before {
    content: "";
    background: color-mix(in srgb, black, transparent 50%);
    position: absolute;
    inset: 0;
    z-index: -1;
}
.line{
    height: 2vh;
    width: 2vw;
    border-bottom: 2px solid #cda45e;
}


.v4{
    height: 80vh;
    width: 100vw;
    background: #181715;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.v4 .top{
    padding: 5rem;
}

.v4 .bottom{
    display: flex;

    justify-content: center;
    gap: 1rem;
}


.v4 .pics{
    padding: 5rem;
    display: flex;
    gap: 2rem;
    align-items: center;
}
.v4 .pics .pic > img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 8px solid #282726;
}

.contacts{
   
    background: #181715;
    height: 190vh;
    width: 100vw;
}

.contacts .contacts_title{
    padding: 5rem;
    color: #cda45e;

}

.contacts_form{
    padding: 3rem;
    display: flex;
    justify-content: space-around;


}

.contacts_form .top{
    padding: 1rem;

    display: flex;
    align-items: center;
    gap: 1rem;
}

.contacts_form svg{
    background: #cda45e;
    width: 3vw;
    height: 6vh;
}

.contacts_form .left{
    
    display: flex;
    flex-direction: column;
    gap: 2rem;
}



.contacts_form .left .top_inputs form{
    
    display: flex;
    
    gap: 2rem;
    align-items: center;

}

.contacts_form .left .bottom_inputs form{
    
    display: flex;
    flex-direction: column;
    
    gap: 2rem;


}


.contacts_form .left .top_inputs form input{
    width: 25vw;
    height: 5vh;
}

.contacts_form .left .bottom_inputs form input{
    width: 25vw;
    height: 5vh;
}

.contacts_form .left .bottom_inputs form button{
    background: transparent;
    color: white;
    position: relative;
    left: 20rem;
    width: 12vw;
    height: 6vh;
    border-radius: 10px;
}
.contacts_form .left .bottom_inputs form button:hover{
    background: #cda45e;
    transition: 1s;

    border-radius: 10px;
}



.contacts_form .left form input{
    padding: 0.4rem 0.7rem;
    border: 1px solid #4f422b;

    font-size: large;
    background: #282726;
    color: #cda45e;
    outline: none;
    
}

.contacts_form .left form input:focus{
    border:1px solid #cda45e;
    color: white;
    
}


.contacts_form .left form textarea{
    padding: 0.4rem 0.7rem;
    border: 1px solid #4f422b;
    font-size: x-large;

    background: #282726;
    color: #cda45e;
    height: 30vh;
    outline: none;   
}

.contacts_form .left form textarea:focus{
    border:1px solid #cda45e;
    color: white;
    
}


.booking{
    background: #0c0b09;
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}



.booking .bottom{
    padding-left:5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;


}


.booking .bottom .top_inputs form{
    display: flex;

    
    gap: 2rem;
}


.booking .bottom .top_inputs input{
    padding: 0.4rem;
    color: white;
    background: #0c0b09;
    width: 20vw;
    height: 5vh;
}


.booking .bottom .bottom_inputs textarea{
    padding: 0.4rem;
    background: #0c0b09;
    color: white;
    width: 66vw;
    height: 20vh;
}